name: Release
on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  create_release:
    runs-on: ubuntu-24.04
    steps:
      - name: Create Release
        uses: Paymentology/release-actions/create-semantic-release@v1.3.1
        with:
          app-id: ${{ vars.CODE_RELEASE_APP_ID }}
          private-key: ${{ secrets.CODE_RELEASE_APP_PRIVATE_KEY }}
